body{
  background-color: aquamarine;
}

.all{
  display: block;
  align-items: center;
  text-align: center;
}
button{
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid rgb(54, 47, 110);
  border-radius: 5px;
  background-color: aqua;
  padding: 8px 8px 8px 8px;
  text-align: center;
}

button:hover{
  cursor: pointer;
  opacity: .9;
}

button:active{
  opacity: .5;
}